.jumbotron{
  background-image: url('http://i.imgur.com/yD9GuPh.png');
  background-color: #D42426;
  background-size:220px;
  background-repeat: repeat-x;
  -webkit-animation: santa 15s linear infinite;
  -moz-animation: santa 15s linear infinite;
  -ms-animation: santa 15s linear infinite;
  animation: santa 15s linear infinite;
}
@-webkit-keyframes santa {
  0% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
  13%{
    background-color:DarkRed;
  }
  25% {
    background-color: #D42426;
  }
  50% {
    background-position: 100% 50%;
    background-color:DarkRed;
  }
  66%{
    background-color: #D42426;
  }
  75%:{
    background-color:DarkRed;
  }
  100% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
}
@-moz-keyframes santa {
  0% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
  13%{
    background-color:DarkRed;
  }
  25% {
    background-color: #D42426;
  }
  50% {
    background-position: 100% 50%;
    background-color:DarkRed;
  }
  66%{
    background-color: #D42426;
  }
  75%:{
    background-color:DarkRed;
  }
  100% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
}
@-o-keyframes santa {
  0% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
  13%{
    background-color:DarkRed;
  }
  25% {
    background-color: #D42426;
  }
  50% {
    background-position: 100% 50%;
    background-color:DarkRed;
  }
  66%{
    background-color: #D42426;
  }
  75%:{
    background-color:DarkRed;
  }
  100% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
}
@keyframes santa {
  0% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
  13%{
    background-color:DarkRed;
  }
  25% {
    background-color: #D42426;
  }
  50% {
    background-position: 100% 50%;
    background-color:DarkRed;
  }
  66%{
    background-color: #D42426;
  }
  75%:{
    background-color:DarkRed;
  }
  100% {
    background-position: 0% 50%;
    background-color: #D42426;
  }
}

.jumbotron>.filter{
  background:rgba(255, 255, 255, 0.8);
  padding:1rem;
  text-align:center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color:#D42426;
}

section.form{
  width:50rem;
  position:relative;
  left:auto;
  right:auto;
}
#snow_frame{
  z-index:5;
  position:absolute;
  height:100%;
  width: calc(100% - 30px);
  border:black 5px solid;
  background-color: rgba(255, 255, 255, 0);
  box-sizing:border-box;
  background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
