<div>
  <!-- Chung-ness -->
  <div class="form-group">
    <label>Chung-ness</label>
    <div>
      <label class="radio-inline">
        <input type="radio"
               value="HalfChungStrategy"
               ng-model="$parent.advancedSettings.chungStrategy">
        Half Chung
      </label>
      <label class="radio-inline">
        <input type="radio"
               value="FullChungStrategy"
               ng-model="$parent.advancedSettings.chungStrategy">
        Full Chung (HK tradition)
      </label>
    </div>
  </div>
  <!-- farn score strategy -->
  <div class="form-group">
    <label>Scoring method</label>
      (<a href="https://zh.wikipedia.org/wiki/%E5%BB%A3%E6%9D%B1%E9%BA%BB%E9%9B%80%E7%B1%8C%E7%A2%BC%E8%A8%88%E6%B3%95"  data-toggle="tooltip" data-placement="left" title="Tooltip on left" target="_blank">Wiki page for scoring methods</a>)
    <div>
      <label class="radio-inline"
             data-toggle="tooltip"
             data-placement="top"
             title="0 farn: 0.25 | 1 farn: 0.5 | 2 farn: 1"
             onmouseover="$(this).tooltip()"> 
        <input type="radio"
               value="_25ChickenStrategy"
               ng-model="$parent.advancedSettings.farnScoreStrategy">
        25 Chicken (HK tradition)
      </label>
      <label class="radio-inline"
             data-toggle="tooltip"
             data-placement="top"
             title="0 farn: 0.5 | 1 farn: 1 | 2 farn: 2"
             onmouseover="$(this).tooltip()"> 
        <input type="radio"
               value="_51Strategy"
               ng-model="$parent.advancedSettings.farnScoreStrategy">
        51
      </label>
      <label class="radio-inline"
             data-toggle="tooltip"
             data-placement="top"
             title="0 farn: 1 | 1 farn: 2 | 2 farn: 4"
             onmouseover="$(this).tooltip()"> 
        <input type="radio"
               value="_12MosquitosStrategy"
               ng-model="$parent.advancedSettings.farnScoreStrategy">
        12 Mosquitos
      </label>
    </div>
  </div>
  <!-- Spicy -->
  <div class="form-group">
    <label>Half spicy from:</label>
    <div>
      <label class="radio-inline">
        <input type="radio"
               value="10000"
               ng-focus="halfSpicyFromCustomFocus=false"
               ng-model="$parent.advancedSettings.halfSpicyFrom">
        Never half spicy
      </label>
      <label class="radio-inline">
        <input type="radio"
               value="4"
               ng-focus="halfSpicyFromCustomFocus=false"
               ng-model="$parent.advancedSettings.halfSpicyFrom">
        4 farn (HK tradition)
      </label>
        <input id="halfSpicyFromCustom"
               name="halfSpicyFrom"
               type="radio"
               value="custom"
               ng-checked="halfSpicyFromCustomFocus"
               ng-model="$parent.advancedSettings.halfSpicyFrom">
        <input type="text"
               size="3"
               ng-focus="halfSpicyFromCustomFocus=true; $parent.advancedSettings.halfSpicyFrom='custom'"
               ng-model="$parent.advancedSettings.halfSpicyFromCustom">
        </input>
    </div>
  </div>
</div>
