<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <form>
      <!-- number of players -->
      <div class="form-group">
        <label for="numberOfPlayer">Number of players</label>
        <select id="numberOfPlayer" class="form-control" ng-model="numberOfPlayer">
          <option ng-repeat="n in range(DEFAULT_PLAYER, MAX_PLAYER)"
                  value="{{n}}"
                  ng-selected="n==DEFAULT_PLAYER">
            {{n}}
          </option>
        </select>
      </div>
<!-- player name, ng-repeat -->
      <div class="form-group" ng-repeat="i in range(1, numberOfPlayer)">
        <label for="name{{i}}">Player {{i}}'s name</label>
        <input class="form-control" id="name{{i}}" type="text" ng-model="playerNames[i-1]">
      </div>
<!-- advanced settings -->
      <div class="form-group">
        <button class="btn btn-primary"
                ng-click="advanced_setting_show=advanced_setting_show?false:true">
          <span ng-hide="advanced_setting_show" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="advanced_setting_show" class="glyphicon glyphicon-chevron-up"></span>
          Advanced Settings
        </button>
      </div>
<!-- advanced settings -->
      <div class="panel panel-default"
           ng-show="advanced_setting_show">
        <div class="panel-body"
             ng-include="'./advancedSetting.html'"></div>
      </div>

<!-- start button -->
      <div class="btn-group">
        <button class="btn btn-default" ng-click="submitAndStart()">Start the game</button>
      </div>
<!-- upload button -->
      <div class="btn-group">
        <label>
          <div class="btn btn-success">
            <span class="glyphicon glyphicon-upload"></span> Upload game progress
          </div>
          <input type="file" class="hidden" fileread="uploadJson"></input>
        </label>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
