<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="form-inline">
      <div class="form-group">
        <label><?=$lang['join_existing_game']?></label>
        <input type="text"
               maxlength="4"
               size="4"
               ng-model="code"
               ng-keyup="showFailJoin=false; joinGame()"
               ng-change="joinGame()"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               class="form-control"
               placeholder="code"
               style="text-align:center;text-transform:lowercase;">
        <span class="text-danger" ng-show="showFailJoin"><?=$lang['failed_joining_game']?></span>
      </div>
    </div>
    <hr>


    <form>
<!-- start button -->
      <div class="btn-group">
        <button class="btn btn-default" ng-click="submitAndStart()"><?=$lang['start_button_msg']?></button>
      </div>
<!-- upload button -->
      <div class="btn-group">
        <label>
          <div class="btn btn-success">
            <span class="glyphicon glyphicon-upload"></span> <?=$lang['upload_button_msg']?>
          </div>
          <input type="file" class="hidden" fileread="uploadJson"></input>
        </label>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
