<div class="row">
  <div class="col-lg-5">
    <div class="form-inline">
      <div class="form-group">
        <label><?=$lang['this_game_code']?></label>
        <input  type="text"
                maxlength="4"
                size="4"
                ng-model="code"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                class="form-control"
                placeholder="code"
                disabled="disabled"
                style="text-align:center;text-transform:lowercase;">
        <!--p class="help-block">Number of users viewing this game: {{userNumber}}</p-->
      </div>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <button class="btn btn-primary"
                ng-click="advanced_setting_show=advanced_setting_show?false:true">
          <span ng-hide="advanced_setting_show" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="advanced_setting_show" class="glyphicon glyphicon-chevron-up"></span>
          <?=$lang['advanced_setting']?>
        </button>
      </div>
<!-- advanced setting -->
      <div class="panel panel-default"
           ng-show="advanced_setting_show">
        <div class="panel-body">
          <?php include("./advancedSetting.html")?>
        </div>
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <a class="btn btn-success" href="{{mjData.toLink()}}" download="mjData.json">
        <span class="glyphicon glyphicon-download"></span>
        <?=$lang['download_button_msg']?>
        </a>
      </div>
      <div class="form-group">
        <button class="btn btn-primary"
                type="button"
                ng-click="cancelLastRound()"
                ng-show="mjData.rounds.length>1">
          <span class="glyphicon glyphicon-remove-sign"></span>
          <?=$lang['cancel_last_round_button_msg']?>
        </button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary"
                type="button"
                ng-click="resetRound()"
                ng-show="someoneIsEating()">
          <?=$lang['undo_eat_button_msg']?>
        </button>
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <button class="btn btn-default"
                type="button"
                ng-click="flush()">
          <span class="glyphicon glyphicon-tint"></span>
          <?=$lang['flush_game_button_msg']?>
        </button>
      </div>
    </form>
    <!--
    <div>{{mjData}}</div>
    -->
    <div ng-repeat="player in mjData.players">
      <form class="form-inline">
      <!-- Name -->
        <div class="input-group">
          <input class="form-control" type="text" ng-model="player.name" tabindex="{{player.id+1}}"></input>
        </div>
        <!-- Eat -->
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  ng-disabled="isEating(player.id) || numberOfPeopleEating()==3">
                  {{isEating(player.id)?"<?=$lang['eating']?> "+numberOfFarnEating(player.id)+" <?=$lang['farn']?>":"<?=$lang['eat']?>"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="farn in range(MIN_MAX_FARN, MAX_MAX_FARN)"><a href="#" ng-click="eat(player.id, farn)">{{farn}} <?=$lang['farn']?></a></li>
          </ul>
        </div>
        <!-- selfTouch -->
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  ng-show="isEating(player.id) && numberOfPeopleEating()==1">
            <?=$lang['self_touch']?>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">
            <?=$lang['losers']?>:
            </li>
            <li ng-repeat="losers in getRestPlayers(player.id, 1)">
              <a href="#" ng-click="selfTouched(losers)">
                {{mjData.players[losers[0]].name}}
              </a>
            </li>
            <li ng-repeat="losers in getRestPlayers(player.id, 3)">
              <a href="#" ng-click="selfTouched(losers)">
                {{mjData.players[losers[0]].name}},
                {{mjData.players[losers[1]].name}},
                {{mjData.players[losers[2]].name}}
              </a>
            </li>
          </ul>
        </div>
        <!-- Lose -->
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  ng-show="isLosing(player.id) && numberOfPeopleEating()<3">
            <?=$lang['out_chung_button_msg']?>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">
              <?=$lang['other_losers']?>:
            </li>
            <li ng-repeat="losers in getLoseMenu(player.id)">
              <a href="#" ng-click="lose([player.id].concat(losers))">
                {{mjData.players[losers[0]].name}}{{losers.length>1?',':''}}
                {{mjData.players[losers[1]].name}}
              </a>
            </li>
          </ul>
          <button class="btn btn-default"
                  ng-click="lose([player.id])"
                  ng-show="isLosing(player.id) && numberOfPeopleEating()==3">
            <?=$lang['out_chung_button_msg']?>
          </button>
        </div>
      </form>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <button class="btn btn-warning" type="button" ng-click="addPlayer()">
          <span class="glyphicon glyphicon-plus"></span> <?=$lang['add_game_button_msg']?>
        </button>
      </div>
    </form>
  </div>
  <div class="col-lg-7">
    <canvas id="line" class="chart chart-line" ng-class="chart_type" chart-data="graph.data"
      chart-labels="graph.labels" chart-legend="true" chart-series="graph.series"
      chart-click="onClick" chart-options="{bezierCurve:false, datasetFill:false, datasetStrokeWidth:4}">
    </canvas> 
  </div>
  <div class="col-sm-12">
    <?php include("./summaryTable.html"); ?>
  </div>
</div>
