<table class="table table-hover" style="margin-bottom:0;">
  <thead>
    <tr>
      <th>Round</th>
      <th ng-repeat="player in mjData.players">
        {{player.name}}
      </th>
    </tr>
  </thead>
  <tr class="summaryTable_summary">
    <td><strong>Summary</strong></td>
    <td ng-repeat="player in mjData.players">
      <strong>
      {{mjData.getPlayerFinalScore(player.id)}}
      </strong>
    </td>
  </tr>
  <tr ng-repeat="(i, round) in mjData.rounds.slice().reverse()">
    <td>{{mjData.rounds.length-i-1}}</td>
    <td ng-repeat="player in mjData.players">
      {{round.getScore(player.id)>0?'&plus;':''}}{{round.getScore(player.id)}}
    </td>
  </tr>
</table>
